:root {
	/* Base */
	--base-font-size: 20px;
	--base-line-height: 1.7;
	--base-color: white;
    --mono-base: hsl(var(--mono-hue), var(--mono-saturation), 10%);

	/* Colors */
	--theme-color: #ffffff;
	--strong-color: inherit;

	/* Table Coloring */
	--table-cell-padding: 1em 2em;

	/* Sidebar */
	--sidebar-width: 25rem;
	--sidebar-name-font-weight: 600;
	--sidebar-nav-link-font-weight: 600;
	--sidebar-nav-link-color: #bbb;

	/* Links */
	--link-color: hsl(var(--mono-hue), var(--mono-saturation), 70%);
	--link-color--hover: hsl(var(--mono-hue), var(--mono-saturation), 50%);
	--link-text-decoration: none;
	--link-text-decoration--hover: underline;

    /* Blockquotes */
    --blockquote-border-color: var(--blockquote-background);
}

/* Replaces strikethrough (~~lorem~~) with highlighting */
.content del {
	font-weight: inherit;
	text-decoration: none;
	background-color: hsl(180, var(--mono-saturation), 20%);
	border-radius: 3px;
}

/* Spacing */
blockquote {
	margin: 1em 0 2em 0 !important;
}

/* IB Logo (i hate seeing this logo) */
#ib {
	position: relative;
	color: transparent;
	background-image: url(../assets/ib.svg);
	background-size: 100% 100%;
}

.markdown-section {
    padding: 2em 1em;
}

/* White images */
img {
    background-color: white;
    border-radius: 2px;
}

/* Fixes ugly tables */
@media (max-width: 480px) {
    table {
        display: none !important;
    }

    .table-wrapper::before {
        content: "Screen width too small to display table. Please flip to landscape or set to desktop mode.";
        color: white;
        background-color: red;
    }
}
